#main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: $background-primary;
  opacity: 0; 
  transform: translateY(-20px);
  transition: opacity 1s ease, transform 1s ease;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  &.hidden {
    opacity: 0;
    transform: translateY(-20px); 
  }
}

.category-menu {
  list-style: none;
  padding: 0;
}

.category-item {
  font-size: 32px;
  font-weight: 300;
  margin: 2.5rem 0;
}

.category-item a {
  text-decoration: none;
  color: $primary-color;
  transition: color 0.3s;
}

.category-item a:hover {
  color: $black-color;
}