.category-section:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section {
  scroll-snap-align: start;
  
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.category-title {
  color: #AAC2B3;
  font-size: 36px;
  font-weight: 400;
  text-transform: capitalize;
}