.scroll-to-top-btn {
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $primary-color; /* Azul para destacar */
  color: $white-color;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.scroll-to-top-btn:hover {
  background-color: $black-color;
  transform: scale(1.1);
}