.product-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 330px;
  height: 117px;
  background-color: $primary-color;

  padding-left: 33px;

  border-radius: 62px;
}


.product-details {
  text-align: start;
  color: $text-secondary;
  max-width: 373px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 5px;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.product-name {
  font-size: 19px;
  font-weight: 500;
  margin: 0;
}

.product-description {
  font-size: 12.322px;
  margin: 0;
  font-weight: 300;
  max-width: 170px;
}

.product-footer {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 76px;
  align-self: flex-end;
}

.portions {
  border-radius: 52px;
  height: 18.3px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  opacity: 0.5;
  p {
    color: $text-secondary;
    font-size: 10px;
    font-weight: 300;
  }
}

.product-price {
  font-weight: bold;
  color: $text-secondary;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.product-img {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  border: 5px solid white;
  background-size: cover;
  background-position: center;
}