@import '../components/Footer/footer.scss';
@import '../components/Header/header.scss';
@import '../components/ProductOption/product-option.scss';
@import '../components/ScrollIcon/scroll-icon.scss';
@import '../components/MainMenu/main-menu.scss';
@import '../components/CategorySection/categorie-section.scss';
@import '../components/ScrollToTopButton/scroll-to-top-button.scss';
@import '../components/Loader/loader.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.scroll-container {
  height: 100vh; 
  scroll-snap-type: y mandatory; 
  overflow-y: scroll;
}