.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;

  background-color: #fbd8d8;
  color: $text-primary;
  text-align: center;
  padding: 1rem;
  height: 100vh;
  scroll-snap-align: start;
}
.location-container {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.map {
  background-color: white;
  height: 250px;
  width: 250px;
  border-radius: 10px;
}

.info {
  font-size: 1rem;
  font-weight: 300;
  text-align: start;
  h2 {
    font-size: 16px;
  }
}

.contact-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.contact-btn {

  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #716D6D; /* Azul para destacar */
  color: $white-color;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.horarios {
  p {
    font-size: 1rem;
    font-weight: 300;
    margin: 5px;
  }
}

.studio-link {
  text-decoration: none;
  color: $text-primary;
  font-size: 10px;
  font-weight: 300;
}
