.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;

  background-color: gray;
  color: white;
  text-align: center;
  padding: 1rem;
  height: 100vh;
  scroll-snap-align: start;
}
.location-container {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.map {
  background-color: white;
  height: 250px;
  width: 250px;
  border-radius: 10px;
}

.info {
  font-size: 1rem;
}

.contact-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.contact-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.studio-link {
  text-decoration: none;
  color: inherit;
}
