.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;

  background-color: #fbd8d8;
  color: $text-primary;
  text-align: center;
  padding: 1rem;
  height: 117px;
  scroll-snap-align: start;
}

.location-container {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.map {
  background-color: white;
  height: 70px;
  width: 110px;
}

.info {
  font-size: 8px;
  font-weight: 300;
  justify-content: flex-start;
}

.contact-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.contact-btn {
  width: 22px;
  height: 22px;
  padding: 5px;
  border-radius: 50%;
  background-color: #716D6D;
  color: $white-color;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease, transform 0.5s ease;
  
  svg {
    width: 12px;
    height: 12px;
  }
}

.line-footer {
  height: 2px;
  width: 100%;
  background-color: white;
}

.horarios {
  display: flex;
  p {
    font-size: 8px;
    font-weight: 300;
    margin: 5px;
    text-align: start;
  }
}

.studio-link {
  position: relative;
  margin-bottom: 0px;
  margin-right: opx;
  text-decoration: none;
  color: $text-primary;
  font-size: 10px;
  font-weight: 300;

  span {
    font-weight: 500;
  }
}
