//colors
$primary-color: #E67792;
$secondary-color: #7D8C83;
$text-primary: #383838;
$text-secondary: #FCF3F4;
$white-color: #FFFFFF;
$black-color: #000000;
$background-primary: #F0F0F0;
$background-secondary: #F9F9F9;
$text-dark: #3F3E3E;

//typography
$font-family-primary: 'Courier New', Courier, monospace;
$font-family-secondary: null;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;

//spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

// breakpoints
$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;